/*html{
    scroll-behavior: auto !important;
}*/

body{
    background-color: black;
    color: white;
}

.navbar{
    background-color: none;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.Barra-iconos{
    background-color: rgb(80, 227, 247);
    font-size: 1.4em;
}

#Quienes-Somos h4{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
} 

#Quienes-Somos{
    font-family: "Open-Sans";
    
}

#Destacados h4{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}

.card {
    background-color: rgb(80, 227, 247);
    align-items: stretch;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;

}

#Destacados h5{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
}

#Destacados {
    font-family: "Open-Sans";
    font-weight: 100;
}

#Contacto h4{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}

#Contacto {
    font-family: "Open-Sans";
    font-weight: 100;
}

#Footer {
    background-color:rgb(80, 227, 247);
}

#Footer h2{
    font-family: "Roboto";
    font-weight: 900;    
}

#Footer a{
    color: white;
    text-decoration: none;
}